.header-img{
    text-align: left;
}

.centered{
    text-align:center;
}

.large-group{
    width:60%;
}

.floating-button{
    padding:60px;
    font-size:25px;
}

#bottom-left-menu{
    position: fixed;
    bottom: 5%;
    left: 0px; 
}

.main-button{
    width:100%;
    height:250px;
    margin:2vh 0 0 0;
    border: 0px solid transparent;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height:250px;
    -webkit-box-shadow:inset rgba(0,0,0,0.6) 0px 0px 0px 5000px;
    box-shadow:inset rgba(0,0,0,0.6) 0px 0px 0px 5000px;
    vertical-align:middle;
    overflow: hidden;
}

.main-button:hover{
    box-shadow: inset rgba(0,0,0,0.8) 0px 0px 0px 5000px !important;
}

.main-button-text{
    text-decoration: underline;
    -moz-text-decoration-color:#fff200; /* Code for Firefox */
    text-decoration-color:#fff200;
    color:white;
    font-size:40px;
    font-weight:500;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.existing-button{
    background-image:url('../images/existing-client.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.new-button{
    background-image:url('../images/new-client.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

.group-readonly{
    margin: 0px -15px 2px -15px;
}

.field-readonly {
    display: block;
    width: 100%;
    height: 34px;
    padding: 7px 15px 0 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

.sidebar{
    width:100%;
    text-align:center;
}

.sidebar-icon > a{
    color:#ddd;
    font-size:45px;
    margin: 40px 0 40px 0;
}

 .sidebar-icon > a:hover{
    color:#bbb;
    text-decoration:none;
} 

 .sidebar-icon > a:focus {
    color:#aaa;
    text-decoration:none;
}  

.main-sidebar{
    padding-left:40px;
}

.edit-link{
    color:#ddd;
    font-size:18px;
}

 .edit-link:hover{
    color:#bbb;
    text-decoration:none;
} 

 .edit-link:focus {
    color:#aaa;
    text-decoration:none;
}  

.activity-logs > .well{
    height:500px;
    overflow-y:scroll;
    background-color: #fdfdfd;
}

.log-btn{
    text-align: center;
}

pre{
    display: block;
    padding: 0 10px 0 10px !important;
    margin: 0 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px !important;
    line-height: 15px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #D6EAF8 !important;
    border:none !important;
}

.log-btn > .btn{
    margin:15px 0 15px 0;
    width:80%;
}

.log-bubble-left {
    position: relative;
    padding: 10px;
    margin: 10px 20px 20px 0px;
    overflow-wrap: normal;
    color: #333;
    background: #D6EAF8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.log-bubble-right {
    position: relative;
    padding: 10px;
    margin: 10px 0px 20px 20px;
    overflow-wrap: normal;
    color: #333;
    background: #D6EAF8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.nice-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.nice-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.nice-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555555;
}

#sign-in-btn{
    width: 100%;
}

#sign-in-btn > div{
    margin: 0 auto;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-client-button{
    margin: 15px 0 0 0;
    width:20%;
    min-width:100px;
}

.search-button{
    min-width:50px;
}